@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,300&display=swap');



div.titulo.d-flex{
height: 48px;
align-items: center;
}

div.titulo.d-flex img {
width: 5%;
margin-right: 0.5rem;
}

div.titulo.d-flex h4{
 height: 37.8px;
 line-height: 37.8px;
 margin-bottom: 0;
}

h2.text-center.mt-5,h2{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    color:#fb8500;
}

div.text-center.pt-5{
    color: red;
}