@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,300&display=swap');


p{
    font-size: 1rem;
    line-height: 2rem;
}

h2.h1{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
}

.container{
    padding:0px 5px 0px 5px;
}

